// # FONTS
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Bai Jamjuree", sans-serif;

// # COLORS
// --- Background
$bg-white: #ffffff;
$bg-aqua: #39ffbf;
$bg-lilac: #527ceb;
$bg-red: #f81d39;
$bg-secondary-red: #f00e2e;
$bg-darkgrey: #3d3d3d;
$bg-secondary-grey: #4c4c4c;
$bg-black: #191919;
$bg-darkblue: #1f1e38;

// --- Text
$text-white: #ffffff;
$text-aqua: #39ffbf;
$text-red: #f81d39;
$text-azure: #1bb0ce;
$text-lightgrey: #aaaaaa;
$text-grey: #888888;
$text-secondarygrey: #818a91;
$text-darkgrey: #444444;
$text-darkestgrey: #3d3d3d;
$text-puregrey: #8f8e9b;
$text-bluegrey: #626173;
$text-lilacgrey: #797888;
$text-darkblue: #1f1e38;
$text-black: #000000;

// --- Borders
$border-white: #ffffff;

// --- Fills
$fill-white: #ffffff;
$fill-black: #000000;
