// # FONTS
$primary-font: "Montserrat", sans-serif;
$secondary-font: "Bai Jamjuree", sans-serif;

// # COLORS
$lilac: #527ceb;
$white: #ffffff;
$aqua: #39ffbf;
$red: #f00e2e;
$azure: #1bb0ce;
$lightgrey: #aaaaaa;
$grey: #888888;
$darkgrey: #3d3d3d;
$darkblue: #1f1e38;
$black: #000000;
$opacity:#52507c50;